<h1>New Game</h1>
  <p>&nbsp;</p>
  <p>
    Total score: <%= cookies[:score] %>
  </p>
    <a href="?reset_score=1">Reset score</a>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<ul>
  <% @letters.each do |letter| %>
  <li><%= letter %></li>
  <% end %>
</ul>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<h3>What is the longest word you can find?</h3>
<form action="score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters.join().downcase() %>
  <input type="text" name="answer">
  <input type="submit" value="Play">
</form>
<p>&nbsp;</p>

